<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="/styles/app.css" rel="stylesheet">
    <link href="/images/favicon.png" rel="shortcut icon">
    <title>Nils Gemeinhardt - portfolio and references</title>
    <meta name="author" content="Nils Gemeinhardt">
    <meta name="keywords" content="Web Development, User Interface Design, Web Design, Ruby on Rails, PHP, JavaScript, jQuery, CoffeeScript, CSS, SASS, git, Backbone.js, Underscore.js, Mustache templates">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--[if lt IE 9]>
      <script src="/scripts/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="content">
      <header class="me">
        <h1>Nils Gemeinhardt</h1>
        <ul class="contact">
          <li class="github"><a href="http://github.com/geniou" title="GitHub">GitHub</a></li>
          <li class="xing"><a href="https://www.xing.com/profiles/nils_gemeinhardt" title="XING">XING</a></li>
          <li class="phone"><a href="tel:01792549041" title="Phone">0179 / 25 49 0 41</a></li>
          <li class="mail"><a href="mailto:info@nilsgemeinhardt.com" title="E-Mail">info@nilsgemeinhardt.com</a></li>
        </ul>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
