@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);
@import url(http://fonts.googleapis.com/css?family=Volkhov:700);

$width: 930px;
$space: 15px;

$blue: #08242f;
$yellow: #c99138;

$gray: #e3e3e3;
$light-gray: #f1f1f1;

body {
  margin: 0;
  padding: 0;
  background: $blue;
  color: #3e3e3e;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
}

p {
  margin: 0;
}

#content {
  width: $width - 60;
  padding: 45px;
  position: relative;
  margin: 40px auto;
  font-weight: 300;
  background: white;
  border-top: 25px solid $yellow;
  box-shadow: 0 0 1px 0 black;
}

h1 {
  font-family: 'Volkhov', serif;
  font-weight: 500;
  font-size: 24px;
  color: $blue;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: $blue;
  margin: 0 0 10px 0;
  padding-top: 30px;
  color: #000000;
}

section {
  border-bottom: 1px solid $gray;
  padding: 20px 0 30px 250px;
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  > h1 {
    float: left;
    margin-left: -250px;
    margin-top: 0;
    padding-top: 32px;
  }
}

header {
  background: $light-gray;
  margin: -45px -45px 0;
  padding: 30px 45px 20px;
  border-bottom: 1px solid $gray;
  > h1 {
    font-size: 30px;
  }
  ul {
    float: right;
    text-align: right;
    li {
      margin-bottom: 0;
    }
  }
}

.period {
  clear: right;
  float: right;
  background: $light-gray;
  padding: 3px 10px;
  margin: 30px 0 10px 10px;
  &.current {
    background: $blue;
    color: white;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 0.7em;
  }
}

ul.cloud {
  padding-top: 19px;
  li {
    display: inline;
    background: $light-gray;
    padding: 5px 15px;
    margin: 0 6px;
    line-height: 2.3em;
    &.expert {
      font-size: 20px;
      background: $blue;
      color: white;
    }
    &.advanced {
      font-size: 15px;
    }
    &.basic {
      font-size: 10px;
    }
  }
}
