@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);
@import url(http://fonts.googleapis.com/css?family=Volkhov:700);

$space: 15px;

$blue: #08242f;
$yellow: #f19138;

$gray: #e3e3e3;
$light-gray: #f1f1f1;

body {
  margin: 0;
  padding: 0;
  background: $blue;
  color: #3e3e3e;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $yellow;
  }
}

p {
  margin: 0;
}

#content {
  width: 870px;
  padding: 45px;
  position: relative;
  margin: 40px auto;
  font-weight: 300;
  background: white;
  border-top: 25px solid $yellow;
  box-shadow: 0 0 1px 0 black;
  @media only screen and (max-width: 960px) {
    margin: 0 auto;
    width: auto;
    border-top: 0;
    padding: 15px;
  }
}

h1 {
  font-family: 'Volkhov', serif;
  font-weight: 500;
  font-size: 24px;
  color: $blue;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: $blue;
  margin: 0 0 10px 0;
  padding-top: 30px;
  color: #000000;
  @media only screen and (max-width: 960px) {
    padding-top: 5px;
  }
}

section {
  border-bottom: 1px solid $gray;
  padding: 20px 0 30px 250px;
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
  > h1 {
    float: left;
    margin-left: -250px;
    margin-top: 0;
    padding-top: 32px;
  }
  @media only screen and (max-width: 960px) {
    padding-left: 0;
    > h1 {
      float: none;
      margin-left: 0;
    }
  }
}

header {
  background: $light-gray;
  margin: -45px -45px 0;
  padding: 65px 45px 10px;
  border-bottom: 1px solid $gray;
  position: relative;
  @media only screen and (max-width: 960px) {
    padding: 10px 15px 10px;
    margin: -15px -15px 0;
  }
  > h1 {
    font-size: 30px;
    @media only screen and (max-width: 960px) {
      font-size: 23px;
    }
  }
  ul.contact {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 45px;
    li {
      margin-bottom: 0;
      &.github,
      &.xing {
        display: inline-block;
        margin-left: 5px;
        a {
          text-indent: 100000px;
          width: 20px;
          height: 20px;
          overflow: hidden;
          display: block;
          background: url('../images/social_sprite.png');
        }
      }
      $icons: github, xing;
      $i: 0;
      @each $icon in $icons {
        &.#{$icon} a {
          background-position: (-$i * 20px) -20px;
          transition: background-position 0.5s;
          &:hover {
            background-position: (-$i * 20px) 0;
            transition: background-position 0.2s;
          }
        }
        $i: $i + 1;
      }
    }
    @media only screen and (max-width: 960px) {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: left;
      li {
        margin: 0 5px 0 0 !important;
      }
    }
  }
}

.period {
  clear: right;
  float: right;
  background: $light-gray;
  padding: 3px 10px;
  margin: 30px 0 10px 10px;
  &.current {
    background: $blue;
    color: white;
  }
  @media only screen and (max-width: 960px) {
    float: none;
    text-align: center;
    margin: 30px 0 0;
  }
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin-bottom: 0.7em;
  }
}

ul.cloud {
  padding-top: 19px;
  @media only screen and (max-width: 960px) {
    text-align: center;
  }
  li {
    display: inline;
    background: $light-gray;
    padding: 5px 15px;
    margin: 0 6px;
    line-height: 2.3em;
    @media only screen and (max-width: 960px) {
      padding: 3px 5px;
      margin: 0 3px;
    }
    &.expert {
      font-size: 20px;
      background: $blue;
      color: white;
    }
    &.advanced {
      font-size: 15px;
    }
    &.basic {
      font-size: 10px;
    }
  }
}
