@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);
@import url(http://fonts.googleapis.com/css?family=Volkhov:700);
body {
  margin: 0;
  padding: 0;
  background: #08242f;
  color: #3e3e3e;
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5em; }

a {
  color: #08242f;
  text-decoration: none; }
  a:hover {
    color: #f19138; }

p {
  margin: 0; }

#content {
  width: 870px;
  padding: 45px;
  position: relative;
  margin: 40px auto;
  font-weight: 300;
  background: white;
  border-top: 25px solid #f19138;
  box-shadow: 0 0 1px 0 black; }
  @media only screen and (max-width: 960px) {
    #content {
      margin: 0 auto;
      width: auto;
      border-top: 0;
      padding: 15px; } }

h1 {
  font-family: 'Volkhov', serif;
  font-weight: 500;
  font-size: 24px;
  color: #08242f; }

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #08242f;
  margin: 0 0 10px 0;
  padding-top: 30px;
  color: #000000; }
  @media only screen and (max-width: 960px) {
    h2 {
      padding-top: 5px; } }

section {
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0 30px 250px; }
  section:last-child {
    border: none;
    padding-bottom: 0; }
  section > h1 {
    float: left;
    margin-left: -250px;
    margin-top: 0;
    padding-top: 32px; }
  @media only screen and (max-width: 960px) {
    section {
      padding-left: 0; }
      section > h1 {
        float: none;
        margin-left: 0; } }

header {
  background: #f1f1f1;
  margin: -45px -45px 0;
  padding: 65px 45px 10px;
  border-bottom: 1px solid #e3e3e3;
  position: relative; }
  @media only screen and (max-width: 960px) {
    header {
      padding: 10px 15px 10px;
      margin: -15px -15px 0; } }
  header > h1 {
    font-size: 30px; }
    @media only screen and (max-width: 960px) {
      header > h1 {
        font-size: 23px; } }
  header ul.contact {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 45px; }
    header ul.contact li {
      margin-bottom: 0; }
      header ul.contact li.github, header ul.contact li.xing {
        display: inline-block;
        margin-left: 5px; }
        header ul.contact li.github a, header ul.contact li.xing a {
          text-indent: 100000px;
          width: 20px;
          height: 20px;
          overflow: hidden;
          display: block;
          background: url("../images/social_sprite.png"); }
      header ul.contact li.github a {
        background-position: 0px -20px;
        transition: background-position 0.5s; }
        header ul.contact li.github a:hover {
          background-position: 0px 0;
          transition: background-position 0.2s; }
      header ul.contact li.xing a {
        background-position: -20px -20px;
        transition: background-position 0.5s; }
        header ul.contact li.xing a:hover {
          background-position: -20px 0;
          transition: background-position 0.2s; }
    @media only screen and (max-width: 960px) {
      header ul.contact {
        position: relative;
        right: auto;
        bottom: auto;
        text-align: left; }
        header ul.contact li {
          margin: 0 5px 0 0 !important; } }

.period {
  clear: right;
  float: right;
  background: #f1f1f1;
  padding: 3px 10px;
  margin: 30px 0 10px 10px; }
  .period.current {
    background: #08242f;
    color: white; }
  @media only screen and (max-width: 960px) {
    .period {
      float: none;
      text-align: center;
      margin: 30px 0 0; } }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none;
    margin-bottom: 0.7em; }

ul.cloud {
  padding-top: 19px; }
  @media only screen and (max-width: 960px) {
    ul.cloud {
      text-align: center; } }
  ul.cloud li {
    display: inline;
    background: #f1f1f1;
    padding: 5px 15px;
    margin: 0 6px;
    line-height: 2.3em; }
    @media only screen and (max-width: 960px) {
      ul.cloud li {
        padding: 3px 5px;
        margin: 0 3px; } }
    ul.cloud li.expert {
      font-size: 20px;
      background: #08242f;
      color: white; }
    ul.cloud li.advanced {
      font-size: 15px; }
    ul.cloud li.basic {
      font-size: 10px; }
